/* Coolors Exported Palette - coolors.co/e4fde1-8acb88-648381-575761-ffbf46 */

/* HSL */
$color1: hsla(114%, 88%, 94%, 1);
$color2: hsla(118%, 39%, 66%, 1);
$color3: hsla(176%, 13%, 45%, 1);
$color4: hsla(240%, 5%, 36%, 1);
$color5: hsla(39%, 100%, 64%, 1);

/* RGB */
$color1: rgba(228, 253, 225, 1);
$color2: rgba(138, 203, 136, 1);
$color3: rgba(100, 131, 129, 1);
$color4: rgba(87, 87, 97, 1);
$color5: rgba(255, 191, 70, 1);
$color6: rgb(57, 144, 243);


body {
  font-family: sans-serif;
}

#peace-out{
  font-size: 5em;
}

